@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
  background-color: #fff;
  color: #333;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

h1 {
  font-size: clamp(30px, 3.5vw, 70px);
}

h2 {
  font-size: clamp(20px, 3vw, 60px);
}

h3 {
  font-size: clamp(18px, 2.5vw, 55px);
}

h4 {
  font-size: clamp(16px, 2vw, 50px);
}

h5 {
  font-size: clamp(14px, 1.8vw, 45px);
}

input, button, p, label, li, a {
  font-size: clamp(14px, 1.5vw, 30px);
  font-weight: normal;
  color: #525252;
}

p {
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main-header {
  min-height: 100vh;
  background: url("/images/desktop/image-hero.jpg") no-repeat center center/cover;
  color: #fff;
}

#main-header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
  width: 80%;
  margin: auto;
  min-height: 10vh;
}

#main-header #navbar #logo {
  font-family: 'Alata', sans-serif;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30rem;
          flex: 2 1 30rem;
  z-index: 2;
}

#main-header #navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

#main-header #navbar .nav-links .nav-link {
  font-weight: bold;
  color: #fff;
  padding: 20px 0px;
  position: relative;
}

#main-header #navbar .nav-links .nav-link::before {
  -webkit-transition: 300ms;
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #fff;
}

#main-header #navbar .nav-links .nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

#main-header #navbar .nav-links .nav-link-ltr:hover::before {
  width: 100%;
}

@media (max-width: 815px) {
  #main-header #navbar #logo {
    font-size: clamp(30px, 3.5vw, 70px);
  }
  #main-header #navbar .nav-links {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: -150%;
    left: 0;
    background: #000;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding: 10rem 0 0 5rem;
    opacity: 0;
    text-align: left;
  }
  #main-header #navbar li {
    padding: 1rem 0;
  }
  #main-header #navbar a {
    color: #fff;
    font-size: clamp(30px, 3.5vw, 70px);
  }
  #main-header #navbar .contact-btn {
    background: #fad400;
  }
  #main-header #navbar .burger {
    display: block;
    position: relative;
    cursor: pointer;
  }
  #main-header #navbar .burger span {
    background: #fff;
    padding: 0.2rem 2rem;
    margin: 0.5rem 0;
    display: block;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  #main-header #navbar .nav-open {
    opacity: 1;
    top: 0;
  }
  #main-header #navbar .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(300%);
            transform: rotateZ(45deg) translateY(300%);
  }
  #main-header #navbar .toggle .line2 {
    opacity: 0;
  }
  #main-header #navbar .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-300%);
            transform: rotateZ(-45deg) translateY(-300%);
  }
}

#hero {
  width: 80%;
  margin: auto;
}

#hero .hero-box {
  border: 2px solid #fff;
  padding: 4rem 6.5rem 4rem 4rem;
  margin: 15% 0 0;
  max-width: 720px;
}

#hero .hero-box h1 {
  text-transform: uppercase;
  font-size: clamp(30px, 5vw, 70px);
  line-height: 1;
}

@media (max-width: 736px) {
  #hero .hero-box {
    padding: 2rem;
    margin-top: 20%;
    max-width: 500px;
  }
}

@media (max-width: 615px) {
  #hero .hero-box {
    padding: 2rem;
    margin-top: 50%;
  }
}

#about {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#about .about-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

#about .about-img img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .about-text {
  z-index: 2;
  background: #fff;
  max-width: 720px;
  padding: 5rem 10rem 5rem 15rem;
  position: absolute;
  bottom: 10%;
  right: -8%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#about .about-text h2 {
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-size: clamp(30px, 3.5vw, 70px);
}

#about .about-text p {
  line-height: 1.1;
  font-size: clamp(16px, 5vw, 22px);
}

@media (max-width: 815px) {
  #about .about-img {
    padding-top: 2rem;
  }
  #about .about-text {
    text-align: center;
    position: relative;
    justify-self: flex-start;
    padding: 4rem 0 5rem 0;
    bottom: 0;
    right: 0;
  }
  #about .about-text p {
    line-height: 1.4;
    padding: 0 2rem;
  }
}

@media (max-width: 570px) {
  #about .about-text {
    text-align: center;
    position: relative;
    justify-self: flex-start;
    padding: 4rem 0;
    bottom: 0;
    right: 0;
  }
  #about .about-text p {
    line-height: 1.4;
    padding: 0 1rem;
  }
}

#projects {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  padding-bottom: 15rem;
}

#projects .projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  padding: 3rem 0 5rem 0 !important;
}

#projects .projects-header h2 {
  text-transform: uppercase;
}

#projects .projects-header .btn {
  margin-right: 4rem;
  padding: 0.5rem 4rem;
  border: 2px solid #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#projects .projects-header .btn:hover {
  color: #fff;
  background: #000;
}

#projects .projects-container {
  display: -ms-grid;
  display: grid;
  row-gap: 3rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#projects .project {
  position: relative;
}

#projects .project img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#projects .project h5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  padding: 1rem 3rem;
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: #ddd;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1;
}

#projects .img-mobile {
  display: none;
}

@media (max-width: 1000px) {
  #projects .projects-header .btn {
    margin-right: 0.1rem;
  }
}

@media (max-width: 800px) {
  #projects .projects-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #projects .project h5 {
    left: 0%;
    padding: 2rem;
  }
  #projects .img-desktop {
    display: none;
  }
  #projects .img-mobile {
    display: inline-block;
  }
}

@media (max-width: 375px) {
  #projects .projects-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: flex;
    padding: 5rem 0;
  }
  #projects .projects-header h2 {
    text-transform: uppercase;
  }
  #projects .projects-header .btn {
    margin-right: 0rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid #000;
  }
}

#footer {
  min-height: 20vh;
  background: #000;
  color: #fff;
}

#footer .footer-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3.5rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer-main {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 25rem;
          flex: 3 1 25rem;
}

#footer .footer-main .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-main .footer-nav li {
  padding: 2rem 3.5rem 0 0;
}

#footer .footer-main .footer-nav a {
  color: #fff;
}

#footer .footer-social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

#footer .footer-social .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-social .social-links li {
  padding: 0 1.5rem 0 0;
}

#footer .footer-social p {
  padding: 2rem 0 0;
  color: #fff;
}

@media (max-width: 770px) {
  #footer {
    text-align: center;
  }
  #footer .footer-main .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  #footer .footer-main .footer-nav li {
    padding: 1rem 0;
  }
  #footer .footer-social .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 4rem;
  }
  #footer .footer-social p {
    padding: 0.5rem 0 0;
  }
}
/*# sourceMappingURL=main.css.map */