#about {
    min-height: 100vh;
    @include container;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-top: 4rem;
    align-content: stretch;

    .about-img {
        align-self: center;
        justify-self: center;
        flex: 2 1 40rem;
        
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .about-text {
        z-index: 2;
        background: #fff;
        max-width: 720px;
        padding: 5rem 10rem 2rem 15rem;
        position: absolute;
        bottom: 10%;
        right: -8%;
        flex: 1 1 40rem;

        h2 {
            text-transform: uppercase;
            padding-bottom: 2rem;
        }

        p {
            line-height: 1.1;
        }
    }
}

@media(max-width: 815px){
    #about {

        .about-text {
            text-align: center;
            position: relative;
            justify-self: flex-start;
            padding: 4rem 0 5rem 0;
            bottom: 0;
            right: 0;

            p {
                line-height: 1.4;
                padding: 0 2rem;
            }
        }
    }
}
@media(max-width: 570px){
    #about {

        .about-text {
            text-align: center;
            position: relative;
            justify-self: flex-start;
            padding: 1rem 0;
            bottom: 0;
            right: 0;
            height: 10vh;

            p {
                line-height: 1.4;
                padding: 0 2rem;
            }
        }
    }
}