#footer {
    min-height: 20vh;
    background: #000;
    color: #fff;

    .footer-container {
        @include container;
        @include flex(space-between, row);
        padding: 3.5rem 0;
        flex-wrap: wrap;
    }

    .footer-main {
        flex: 3 1 25rem;

        .footer-nav {
            display: flex;
            
            li {
                padding: 2rem 3.5rem 0 0;
            }

            a {
                color: #fff;
            }
        }
    }

    .footer-social {
        flex: 1 1 25rem;

        .social-links {
            display: flex;
            
            li {
                padding: 0 1.5rem 0 0;
            }
        }
        
        p {
            padding: 2rem 0 0;
            color: #fff;
        }
    }
}

@media(max-width: 770px){
    #footer {
        text-align: center;

       .footer-main {
            .footer-nav {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 2rem;

                li {
                    padding: 1rem 0;
                }
            }
       }

        .footer-social {

            .social-links {
                justify-content: center;
                align-items: center;
                padding-top: 4rem;
            }

            p {
                padding: 0.5rem 0 0;
            }
        }
    }
}